.imagen {
  height: 5rem;
  width: 10rem;
}
.clearance {
  color: red;
  text-decoration: line-through;
}
td {
  vertical-align: middle;
}

.tablaGame {
  width: 100%;
}

.paginador {
  width: 100%;
  margin-left: 40%;
  margin-top: 2%;
}

.emoji {
  font-size: 2rem;
}

img.imagen {
  width: 9rem;
  height: 5rem;
}
