<div>
  <h1>Nuestra historia</h1>
  <p>
    Somos una comercializadora de videojuegos y coleccionables con el más amplio
    catálogo de toda la república mexicana al menudeo y mayoreo. Contamos con 5
    sucursales, en la Zona Bajío y una tienda online (en donde te encuentras
    actualmente) donde satisfacemos a todas las personas con gustos en el mundo
    de los videojuegos, anime, series de TV y películas de ciencia ficción.
    Nuestros procesos de adquisición por Internet y entrega de mercancía son
    altamente conﬁables y nos preocupamos todo el tiempo por garantizar que la
    mercancía comprada llegue siempre a las manos de nuestros clientes en
    perfectas condiciones.
  </p>
</div>
<div>
  <h1>Misión</h1>
  <p>
    Satisfacer a todos los usuarios que tenga el gusto de adquirir todo lo
    relacionado al mundo de los videojuegos como son las consolas, sus
    accesorios, sus coleccionables y por supuesto sus juegos en formato físico y
    formato digital, además del mundo del anime, series de TV y películas de
    ciencia ficción siempre con un trato humano y con el compromiso de ofrecer
    precios accesibles, variedad de productos; además de contar con el sistema
    de apartado con el fin de facilitar la adquisición de nuestros productos,
    generando fuentes de empleo y creando oportunidades a nuestros colaboradores
    a través del crecimiento y desarrollo de la empresa mediante una mejora
    continua.
  </p>
</div>
<div>
  <h1>Visión</h1>
  <p>
    Ser la primera opción en venta de videojuegos nuevos, seminuevos, consolas,
    accesorios y coleccionables de la república mexicana, contando con
    proveedores que ofrezcan la variedad de productos que busca la gente para el
    crecimiento constante de nuestras tiendas establecidas y próximas sucursales
    proyectadas, dando paso a consolidarnos y constituirnos para lograr mayor
    eficiencia.
  </p>
  <p>
    Es súper sencillo contactarnos, ponemos a tu disposición todas las
    herramientas posibles, Facebook, Twitter, Teléfono, Chat en vivo, Correo
    electrónico e incluso en nuestras tiendas físicas puedes acudir a que te
    resuelvan todas tus dudas.
  </p>
</div>
